:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: antiquewhite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-weight: 700;
  line-height: 1.25;
  margin: 20px 0;
  color: lightcoral;
}

ul {
  border: 1px solid lightgrey;
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  margin: 10px 0;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.price {
  font-weight: 700;
  font-size: larger;
}

.thumbnail {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: lightslategray;
  border: 1px solid lightgrey;
  max-width: 100%;
  height: auto;
}

.description {
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 10px;
  font-family: cursive;
  font-size: 1.2em;

}

.back-button {
  margin: 20px;
  padding: 10px;
  border: 1px solid lightgrey;
  cursor: pointer;
}